<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="multidatasource.mapper.ordercenter.OrderItemMapper">
	<insert id="saveOne" parameterType="map">
		INSERT INTO `orderitems`(`order_num`, `order_item`, `prod_id`, `quantity`, `item_price`) VALUES 
		(#{param.orderNum}, #{param.orderItem}, #{param.prodId}, #{param.quantity}, #{param.itemPrice});
	</insert>
</mapper>