package $packageName;

#foreach($importItem in $importList)
import $importItem;
#end

/**
 * @apiNote
 */
#if($accessModifier)$accessModifier #end
class#if($className)$className #else A#end $if($null.isNull($mycoll) || $mycoll.size()==0){

}