bigdata/hadoop-2.8.2.tar.gz filter=lfs diff=lfs merge=lfs -text
bigdata/scala-2.12.0.msi filter=lfs diff=lfs merge=lfs -text
bigdata/spark-2.3.0-bin-hadoop2.7.tgz filter=lfs diff=lfs merge=lfs -text
database/postgresql/postgresql-17.5-1-windows-x64-binaries.zip filter=lfs diff=lfs merge=lfs -text
