.top-panel {
  -fx-background-image: url("/com/panemu/tiwulfx/res/image/CoarseGrid.png");
  -fx-background-repeat: repeat;
  -fx-background-color: #747d88;
}

.top-panel .label {
  -fx-text-fill: white;
}

.top-panel .text-field {
  -fx-background-color: rgb(255, 255, 255, 0.3),
  linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
  rgb(218, 226, 224);
  -fx-background-insets: 0 0 -1 0, 0, 1.5;
  -fx-background-radius: 6, 5, 4;
  /*-fx-padding: 6 10 4 10;*/
  -fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2);
  -fx-font-family: "Arial";
}

.top-panel .button {
  -fx-background-color: rgb(255, 255, 255, 0.08),
  rgb(0, 0, 0, 0.8),
  #090a0c,
  linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
  linear-gradient(#242a2e, #23282e),
  radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9),
      rgba(255, 255, 255, 0));
  /*-fx-background-radius: 7, 6, 5, 4, 3, 5;*/
  /*-fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;*/
  -fx-font-family: "Arial";
  -fx-text-fill: white;
  -fx-text-fill: linear-gradient(white, #d0d0d0);
  /*-fx-padding: 10 20 10 20;*/

}

#app-title {
  -fx-font-family: "Arial";
  -fx-font-size: 30;
  -fx-text-fill: rgb(255, 255, 255, 0.8);
  -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0, 0.6), 0, 0.0, 1, 3);
  -fx-font-weight: bold;
}

.collapse-button {
  -fx-background-color: null;
  -fx-padding: 1 0 1 0;
  /*-fx-background-insets: 2;*/
  -fx-opacity: 0.4;
}

.collapse-button:hover {
  -fx-padding: 2 0 0 0;
  -fx-opacity: 1;
}

.image-menu-cat1 {
  -fx-image: url('images/m1.png');
}

.image-menu-item1 {
  -fx-image: url('images/item1.png');
}

.image-menu-item2 {
  -fx-image: url('images/item2.png');
}

.image-menu-item3 {
  -fx-image: url('images/m2.png');
}

.image-menu-item4 {
  -fx-image: url('images/m2.png');
}