<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.maker.extension.mybatis.mapper.MyBatisMapper">

	<!-- 单表查询 -->
	<select id="selectFromOneTable" parameterType="map" resultType="map">
		SELECT
			<choose>
				<when test="param.columnNames != null and param.columnNames !=''">
					<foreach collection="param.columnNames.split(',')" index="i" item="item" open="" separator=","  close="">
						${item}
					</foreach>
				</when>
				<otherwise>*</otherwise>
			</choose>
		FROM ${param.tableName}
		WHERE 1 = 1
		<if test="param.equalCondition != null  and param.equalCondition != ''">
			and t1.OUT_DLR_CODE in 
			<foreach collection="param.likeCondition" index="i" item="item" open="(" separator=","  close=")">
				#{item}
			</foreach>
		</if>
		<if test="param.likeCondition != null  and param.likeCondition != ''">
			<foreach collection="param.likeCondition" index="i" item="item" open="(" separator=","  close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
	<select id="select" resultType="map">
		SELECT * FROM orders
	</select>
</mapper>

