<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.agentdemo.mapper.StudentMapper">
    <select id="queryAll" parameterType="map" resultType="org.example.agentdemo.entity.Student">
        SELECT *
        FROM student
        where stu_name = #{name}
        <if test="stuNo != null and stuNo != ''">
            stu_no = #{stuNo}
        </if>
    </select>
</mapper>