<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="jdbc.url" value="" />
	</properties>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="stdout" />
	</settings>

	<environments default="dev">
		<environment id="dev">
			<!--采用JDBC事务管理 -->
			<transactionManager type="JDBC">
				<property name="autoCommit" value="true" />
			</transactionManager>
			<!-- 默认连接池 -->
			<dataSource type="POOLED">
				<property name="driverClassName" value="com.mysql.jdbc.Driver" />
				<!-- useUnicode=true&characterEncoding=UTF-8&useSSL=false&jdbcCompliantTruncation=false&zeroDateTimeBehavior=CONVERT_TO_NULL&useAffectedRows=true&serverTimezone=GMT%2B8 -->
				<property name="url" value="jdbc:mysql://localhost:3306/information_schema?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8&amp;useAffectedRows=true" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
				<!-- 初始线程数 -->
				<property name="initialSize" value="10" />
				<!-- 最大线程数 -->
				<property name="maxActive" value="20" />
			</dataSource>
		</environment>
	</environments>
	<!-- <mappers> -->
	<!-- <mapper resource="mappers/test.xml"/> -->
	<!-- </mappers> -->
</configuration>
