<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="jdbc.url" value="" />
	</properties>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>

	<environments default="dev">
		<environment id="dev">
			<!--采用JDBC事务管理 -->
			<transactionManager type="JDBC">
				<property name="autoCommit" value="true" />
			</transactionManager>
			<!-- 使用MyBatis提供的的默认连接池 -->
			<dataSource type="POOLED">
				<property name="driver.driverClassName" value="com.mysql.jdbc.Driver" />
				<!-- useUnicode=true&characterEncoding=UTF-8&useSSL=false&jdbcCompliantTruncation=false&zeroDateTimeBehavior=CONVERT_TO_NULL&useAffectedRows=true&serverTimezone=GMT%2B8 -->
				<property name="driver.url" value="jdbc:mysql://localhost:3306/information_schema?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8&amp;useAffectedRows=true" />
				<property name="driver.username" value="root" />
				<property name="driver.password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="mybatis/mapping/InformationSchemaMapper.xml"/>
		<mapper resource="mybatis/mapping/InformationSchemaMapper.xml"/>
	</mappers>
</configuration>
