<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample.mybatis.mapper.StudentMapper">

    <insert id="insertOne" parameterType="sample.mybatis.entity.Student">
        INSERT INTO students (name, gender, grade, score)
        VALUES (#{name}, #{gender}, #{grade}, #{score})
    </insert>

    <!--XML拼接成1条sql，update时就不能拼了-->
    <!-- sql语句过长会报错，此条跟数据库类型有关-->
    <!-- java项目www.fhadmin.org -->
    <insert id="insertBatchWithForeach" parameterType="list">
        INSERT INTO students (name, gender, grade, score) VALUES
        <foreach collection="studentList" separator="," item="item">
            (#{item.name}, #{item.gender}, #{item.grade}, #{item.score})
        </foreach>
    </insert>

    <!--一次性发送多条sql语句-->
    <!--借助Mysql数据库连接属性allowMultiQueries=true的方式批量操作（效率低下，不常用）-->
    <!--jdbc.url=jdbc:mysql://localhost:3306/mybatis?allowMultiQueries=true-->
    <insert id="insertBatchWithMultiQueries">
        <foreach collection="studentList" item="item" separator=";">
            INSERT INTO students (name, gender, grade, score) VALUES
            (#{item.name}, #{item.gender}, #{item.grade}, #{item.score})
        </foreach>
    </insert>

    <!-- TODO 删除的返回值问题 -->
    <delete id="deleteAll">
        DELETE
        FROM students
        WHERE 1 = 1
    </delete>
</mapper>