<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.example.mybatis.crud.mapper.StudentMapper">

    <!-- 结果类型映射 -->
    <resultMap id="mapping" type="code.example.mybatis.crud.entity.Student">
        <id property="id" column="STU_ID" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 写全类名 -->
    <select id="queryAll" resultType="code.example.mybatis.crud.entity.Student">
        SELECT *
        FROM t_student
    </select>
</mapper>