<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" schema="Log4J-V2.0.xsd" monitorInterval="600">
    <Properties>
        <Property name="LOG_HOME">logs</Property>
        <!-- 这里需要配置spring.application.name相同的值,否则会生成多个日志文件 -->
        <property name="FILE_NAME">sharding-sphere-usage-starter</property>
        <property name="DEFAULT_LAYOUT">[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ}] [%level{length=5}] [%thread-%tid] %m%n</property>
        <property name="AUDIT_LOG_LAYOUT">%m%n</property>
    </Properties>

    <Appenders>
        <Console name="DEFAULT_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${DEFAULT_LAYOUT}"/>
        </Console>
        <!-- 命名约定,必须是appAppender -->
        <RollingRandomAccessFile name="appAppender" fileName="${LOG_HOME}/app-${FILE_NAME}.log" filePattern="${LOG_HOME}/app-${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${DEFAULT_LAYOUT}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
    </Appenders>


    <Loggers>
        <Root level="info">
            <!-- 这里不需要配置异步或者appAppender,trace的初始化程序会自动做相关的整合 -->
            <Appender-Ref ref="DEFAULT_CONSOLE"/>
        </Root>
    </Loggers>

</Configuration>
