<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.devpl.toolkit.mapper.ConnectionConfigMapper">

    <select id="selectAllConnectionNames" resultType="io.devpl.toolkit.dto.vo.ConnectionNameVO">
        SELECT id as connection_id, name as connection_name
        FROM connection_config
    </select>
</mapper>
