<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.example.mybatis.crud.mapper.TClassMapper">

    <resultMap id="BaseResultMap" type="code.example.mybatis.crud.entity.TClass">
        <id column="CLASS_ID" jdbcType="VARCHAR" property="classId"/>
        <result column="CLASS_NO" jdbcType="VARCHAR" property="classNo"/>
        <result column="CLASS_NAME" jdbcType="VARCHAR" property="className"/>
        <result column="DEPART_NO" jdbcType="VARCHAR" property="departNo"/>
        <result column="DEPART_NAME" jdbcType="VARCHAR" property="departName"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from `t_class`
        where `CLASS_ID` = #{classId,jdbcType=VARCHAR}
    </delete>


    <insert id="insertOne" parameterType="map">
        insert into t_class (CLASS_ID, CLASS_NAME) values (#{class_id}, #{class_name})
    </insert>
</mapper>
