<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.example.mybatis.crud.mapper.TScoreMapper">

    <resultMap id="BaseResultMap" type="code.example.mybatis.crud.entity.Score">
        <id column="SCORE_ID" jdbcType="VARCHAR" property="scoreId"/>
        <result column="SCORE_LEVEL" jdbcType="VARCHAR" property="scoreLevel"/>
        <result column="COURSE_NO" jdbcType="VARCHAR" property="courseNo"/>
        <result column="COURSE_NAME" jdbcType="VARCHAR" property="courseName"/>
        <result column="SCORE_VALUE" jdbcType="FLOAT" property="scoreValue"/>
        <result column="TEACHER_NO" jdbcType="VARCHAR" property="teacherNo"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from `t_score`
        where `SCORE_ID` = #{scoreId,jdbcType=VARCHAR}
    </delete>
</mapper>
