<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mybatis.crud.mapper.TStudentMapper">

    <resultMap id="BaseResultMap" type="org.example.mybatis.crud.entity.Student">
        <id column="STU_ID" jdbcType="VARCHAR" property="stuId"/>
        <result column="STU_NO" jdbcType="VARCHAR" property="stuNo"/>
        <result column="STU_SEX" jdbcType="CHAR" property="stuSex"/>
        <result column="STU_NAME" jdbcType="VARCHAR" property="stuName"/>
        <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace"/>
        <result column="STU_DEPART_NO" jdbcType="VARCHAR" property="stuDepartNo"/>
        <result column="STU_CLASS_NO" jdbcType="VARCHAR" property="stuClassNo"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from `t_student`
        where `STU_ID` = #{stuId,jdbcType=VARCHAR}
    </delete>

    <select id="selectList" parameterType="org.example.mybatis.crud.param.ListParam" resultType="org.example.mybatis.crud.entity.Student">
        SELECT *
        from `t_student`
        where `STU_SEX` = #{param.sex,jdbcType=VARCHAR}
        AND STU_NO IN
        <foreach item="item" index="index" collection="param.studentIds" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
