<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.sample.mybatisplus.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="code.sample.mybatisplus.entity.Course">
        <id column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <result column="tid" property="tid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cid, cname, tid
    </sql>

    <select id="queryTeacherAll">
        SELECT t.tid , t.tname, c.cid , c.cname FROM teacher t
        LEFT JOIN course c ON c.tid = t.tid
        GROUP BY t.tid
        ORDER BY t.tid;
    </select>

</mapper>
